.custom-logo {
    height: 40px;
    border-radius: 10px;
}

.custom-navbar {
    background-color: var(--custom-base-color);
    color: var(--custom-terciary-color);
}

.custom-favorite {
    background-color: var(--custom-base-color);
}

.custom-favorite a {
    color: var(--custom-secondary-color);
}